/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* I added this */
*, *::before, *::after {
box-sizing: border-box;
}
/*#endregion*/

::selection {
  color: rgb(25, 75, 150);
  background-color: white;
}

h1 {
  font-size: 56px;
  border-bottom-width: 5px;
  border-bottom-color: rgb(25, 25, 100);
  border-bottom-style: solid;
}

a {
  color: darkslategray;
  text-decoration: none;
}

a:visited {
  color: darkslategray;
}

body {
  background-color: rgb(35, 35, 35);
}

header {
  align-items: center;
  background-color: rgba(20, 20, 20);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  margin: 5px 5px 30px 5px;
}

.creds-div {
  display: flex;
}

.cred {
  margin: 0 15px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mycanvas {
  background-color: black;
  border: 10px solid rgb(25, 25, 100);
  margin-bottom: 15px;
}

.button-div {
  display: flex;
  justify-content: center;
  width: 500px;
}

button,
.slider-div {
  background-color: rgb(20, 20, 20);
  border: 2px solid rgb(25, 25, 100);
  color: white;
  margin: 0 25px;
  padding: 15px;
}

.slider {
  color: black;
}

.info {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.info > .column > h2 {
  border-bottom: 5px solid rgb(25, 25, 100);
  font-size: 36px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  /* width: fit-content;
  width: -moz-fit-content; */
}

.info > .column > p {
  line-height: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.controls {
  background-color: rgb(20, 20, 20);
  color: white;
  height: fit-content;
  height: -moz-fit-content;
  margin: 0 10px 0 20px;
  padding: 15px 15px 35px 15px;
}

.game-info {
  background-color: rgb(20, 20, 20);
  color: white;
  margin: 0 20px 0 10px;
  padding: 15px 15px 35px 15px;
}